

/*  Zdjecia */

html{
    
    height: 100%;
}



body{
    
    font-family: 'Arvo', serif;
    background: url(http://freenaturestock.s3.amazonaws.com/232.jpg) no-repeat center center;    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
     
}


/* Nawigacja */
/* Nawigacja */
/* Nawigacja */
/* Nawigacja */
/* Nawigacja */


.navbar{
    
    background-color: rgba(0, 0, 0, 0.47);
    
}


.navbar li{
    
    padding-left: 30px;
   
    
}

.navbar li a{
    color: #aaaaaa;
    font-size: 18px
}

.navbar li a:hover{
    
    border-bottom: 1px solid #62efb3;
    padding-bottom: 14px;
}

.navbar img{
    
    height: 30px;
    width: 35px;
    margin-top: 10px;
    margin-left: 10px;
    
}


.jumbotron{
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin: 110px 0 0 0;
    padding: 10px;
    letter-spacing: 2.5px;
}

.jumbotron img{
    
    height: 140px;
    margin: 40px 0 0 0;
}

h2{
    margin-top: 30px;
}

.jumbotron p{
    font-size: 16px;
}


.contact .btn{
   color: #fff;
    background-color: rgba(24, 255, 95, 0.5);
    height: 45px;
    width: 260px;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 30px
}

.footer{
    
    background-color: rgba(0, 0, 0, 0.5);
    color: #6c6c6c;
    font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 165px

}



@media (max-width: 768px){
    
    .navbar li a:hover{
    
    border-bottom: 0px solid #ffffff;
    padding-bottom: 10px;
}

    
}



