/*Ogolne*/

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*Naglowek*/

.lewaLista{
    float: left;
    list-style: none;
    

}

.lewaLista li{
    display: inline-block;
    font-size: 13px;
    font-style: bold;
    color: white;
    position: relative;
    
}


.prawaLista{
    float: right;
    list-style: none;
    position: relative;
          
}

.prawaLista li{
    display: inline-block;
    font-size: 13px;
    font-style: bold;
    color: white;
}

/*
.logoPierwsze{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    
}
*/


header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(Pictures/Technology.png);
    height: 730px;
    background-repeat: no-repeat;
    
}

















