
html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc)
}

#container{
    height: 420px;
    width: 550px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0px #009de4;
    -moz-box-shadow: 4px 4px 6px 0px #009de4;
    -webkit-box-shadow: 4px 4px 6px 0px #009de4;
    position:relative;
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    left: 500px;
    box-shadow: 2px 4px 4px 0px #9da853;
    -moz-box-shadow: 2px 4px 4px 0px #9da853;
    -webkit-box-shadow: 2px 4px 4px 0px #9da853;
}


#correct{
    position:absolute;
    left: 250px;
    background-color: #1545c7;
    color: white;
    padding: 11px;
    display: none;
}


#wrong{
    position: absolute;
    left: 250px;
    background-color: #fd5454;
    color: white;
    padding: 11px;
    display: none;
}


#question{
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #9DA0EA;
    box-shadow: 4px 4px 4px 0px #535aa8;
    -webkit-box-shadow: 4px 4px 4px 0px #535aa8;
    -moz-box-shadow: 4px 4px 4px 0px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 4px 4px 4px 0px #535aa8;
    -moz-box-shadow: 4px 4px 4px 0px #535aa8;
    -webkit-box-shadow: 4px 4px 4px 0px #535aa8;
}



#choices{
    height: 100px;
    width: 450px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: #fff;
    float: left;
    margin-right: 36px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    -moz-box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover,
#startreset:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 4px 4px 4px 0px rgba(22, 31, 134, 0.67);
    -moz-box-shadow: 4px 4px 4px 0px rgba(22, 31, 134, 0.67);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(22, 31, 134, 0.67);
}


.box:active,
#startreset:active{
    
    box-shadow: 0px 0px 0px 0px rgba(22, 31, 134, 0.67);
    -moz-box-shadow: 0px 0px 0px 0px rgba(22, 31, 134, 0.67);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(22, 31, 134, 0.67);
    top: 4px;
}



.box:last-child{
    margin-right: 0px;
}

#startreset{
    
    width: 80px;
    padding: 10px;
    margin: 0px auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    -moz-box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#timeremaining{
    width: 150px;
    padding: 10px;
    position:absolute;
    top: 395px;
    left: 400px;
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(83, 90, 168, 0.67);
    -moz-box-shadow: 4px 4px 4px 0 rgba(83, 90, 168, 0.67);
    -webkit-box-shadow: 4px 4px 4px 0 rgba(83, 90, 168, 0.67);
/*    visibility: hidden;*/
    display: none;
    
}

#gameover{
    width: 500px;
    height: 200px;
    background: linear-gradient(#F3CA6B, #F3706C);
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
    
}
