
html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc)
}

#container{
    height: 620px;
    width: 850px;
    background-color: #9DD2EA;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0px #009de4;
    -moz-box-shadow: 4px 4px 6px 0px #009de4;
    -webkit-box-shadow: 4px 4px 6px 0px #009de4;
    position:relative;
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    left: 800px;
    box-shadow: 2px 4px 4px 0px #9da853;
    -moz-box-shadow: 2px 4px 4px 0px #9da853;
    -webkit-box-shadow: 2px 4px 4px 0px #9da853;
}


#correct{
    position:absolute;
    left: 250px;
    background-color: #1545c7;
    color: white;
    padding: 11px;
    display: none;
}


#wrong{
    position: absolute;
    left: 250px;
    background-color: #fd5454;
    color: white;
    padding: 11px;
    display: none;
}


#fruitcontainer{
    width: 750px;
    height: 450px;
    margin: 50px auto 10px auto;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 0px #535aa8;
    -webkit-box-shadow: 4px 4px 4px 0px #535aa8;
    -moz-box-shadow: 4px 4px 4px 0px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    position: relative;
    overflow: hidden;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 4px 4px 4px 0px #535aa8;
    -moz-box-shadow: 4px 4px 4px 0px #535aa8;
    -webkit-box-shadow: 4px 4px 4px 0px #535aa8;
}







.box:hover,
#startreset:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 4px 4px 4px 0px rgba(22, 31, 134, 0.67);
    -moz-box-shadow: 4px 4px 4px 0px rgba(22, 31, 134, 0.67);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(22, 31, 134, 0.67);
}


.box:active,
#startreset:active{
    
    box-shadow: 0px 0px 0px 0px rgba(22, 31, 134, 0.67);
    -moz-box-shadow: 0px 0px 0px 0px rgba(22, 31, 134, 0.67);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(22, 31, 134, 0.67);
    top: 4px;
}



.box:last-child{
    margin-right: 0px;
}

#startreset{
    
    width: 80px;
    padding: 10px;
    margin: 0px auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    -moz-box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(83, 90, 168, 0.67);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#trialsleft{
    width: 80px;
    padding: 10px;
    position:absolute;
    background-color: #F1FF92;    border-radius: 4px;
    box-shadow: 2px 4px 4px 0px #9da853;
    -moz-box-shadow: 2px 4px 4px 0px #9da853;
    -webkit-box-shadow: 2px 4px 4px 0px #9da853;
/*    visibility: hidden;*/
    display: none;
    
}

#gameover{
    width: 500px;
    height: 200px;
    background: linear-gradient(#F3CA6B, #F3706C);
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 2;
    display: none;
    
}

.life{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}



.fruit{
    display: none;
    position: absolute;
}