/* Body:
    -Give body element a relative position
    for the scrollspy to work.
    -Add a font family to the whole page.
*/

body{
    
    font-family: 'Vollkorn', sans-serif;
    position: relative;
}


/* Video:
    -Set the video as a background, make it fixed.
    -Make sure it appears behind all elements.
    -Make it spread across the whole webpage.
*/

video#bgvideo{
    
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}









/* Style the Home section and elements inside it
    - Reduce the margin bottom of h1 nad h2 elements
    - Style the button and its hover state

*/

#home{
    
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}

#home h1{
    
    margin-bottom: 30px;
}

#home h2{
    
    margin-bottom: 50px;
}

#home .btn{
    
    background-color: #16828b;
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}

#home .btn:hover{
    
    background-color: rgba(29, 167, 179, 0.52);
    
}

/* Style the About section:
    -Add padding top so that the nav link is active before the carousel hits the top border of the page
    -Limit its width in big devices to 1000px
    -Make heading bold and set dimensions of pictures
*/

#about{
    
    color: white;
    text-align: center;
    padding-top: 100px;
}

#about h2{
    font-weight: bold;
}

#about p{
    font-size: 17px;
    margin-bottom: 40px;
}

#about img{
    
    height: 130px;
}

.container{
    max-width: 1300px;
}
/* Style the pictures and nav bar for diffrent screen resolutions */

#promise{
    
    padding-top: 100px;
}

#myCarousel{
    width: 60%;
    margin: 0 auto;
}

.carousel-inner .item img{
    height: 400px;
    margin: 50px auto;
}

.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}

/* Style the footer */

.footer{
    
    background-color: rgba(0, 44, 65, 0.22);
    color: white;
    padding: 10px 0;
    margin-top: 130px;
    font-size: 15px;

}



/* Style Nav Bar Using Generator */


.navbar-custom {
    
  font-size: 18px;
  background-color: #001d2b;
  border-color: #00070a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#003f5e), to(#001d2b));
  background-image: -webkit-linear-gradient(top, #003f5e, 0%, #001d2b, 100%);
  background-image: -moz-linear-gradient(top, #003f5e 0%, #001d2b 100%);
  background-image: linear-gradient(to bottom, #003f5e 0%, #001d2b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003f5e', endColorstr='#ff001d2b', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #e8e8e8;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #00070a;
}
.navbar-custom .navbar-nav > li > a {
  color: #e8e8e8;
  border-left: 1px solid #00070a;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00070a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00070a), to(#00293d));
  background-image: -webkit-linear-gradient(top, #00070a, 0%, #00293d, 100%);
  background-image: -moz-linear-gradient(top, #00070a 0%, #00293d 100%);
  background-image: linear-gradient(to bottom, #00070a 0%, #00293d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00070a', endColorstr='#ff00293d', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #000507;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #00070a;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #e8e8e8;
  border-bottom-color: #e8e8e8;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #e8e8e8;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #00070a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #e8e8e8;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}




/* Video does not work in small devices:
    -Hide video and set picture as background (use media queries)
    -Make it spread across the whole webpage
*/


@media only screen and (max-width:768px){
    
    .carousel-inner .item img{
        height: 300px;
}
    .carousel-inner .item h2{
        font-size: 22px;
}
 
    body{
        
        background: url(pictures/jelly.jpg) center center fixed;
        background-size: cover;
    }
    
    #bgvideo{
        display: none;
    }
}

@media only screen and (max-width:400px){
    
    .carousel-inner .item img{
        height: 200px;
}
    .carousel-inner .item h2{
        font-size: 17px;
}
 
    .navbar-custom .navbar-brand{
        
        font-size: 12px;
    }
    
    
    
}






