body{
	
	font-family: 'Helvetica','Arial','Sans-Serif';
	background: url(images/tree.jpg) center center fixed;
	background-size: cover;
	color: white;
}


.header{
	text-align: center;
	font-size: 6vw
}



#lap{
	
	text-align: right;
	font-size: 4vw;
	
}




	


#time{
	
	text-align: center;
	font-size: 12vw;
	
}


/* Buttons */


#controlsContainer{
	
	margin-bottom: 100px;
	
}


.control{
	
	color: white;
	background-color: #d7A04e;
	height: 10vw;
	width: 10vw;
	border-radius: 100%;
	text-align: center;
	padding: 22% 0;
	font-size: 2.5vw;
	cursor: pointer;
	transition: color 0.2s;
}



.control:active{
	
	color: #d7A04e;
	background-color: #fff;
}


#laps{
	
	max-height: 270px;
	overflow-y: scroll;
}


.lap{
	
	height: 50px;
	border-bottom: 1px solid #fff;
	margin: 15px;
}

.laptimetitle{
	
	float: left;
	font-size: 1.5em;
	
}


.laptime{
	
	float: right;
	font-size: 2em;
}




