

body{
	
	background: url(pictures/paint.jpg) center center fixed;
	background-size: cover;
	text-align: center;
}


#header{
	
	background: linear-gradient(rgba(141, 255, 176, 0.71), rgba(148, 210, 255, 0.42));
	background: -webkit-linear-gradient(rgba(141, 255, 176, 0.71), rgba(148, 210, 255, 0.42));
	background: -moz-linear-gradient(rgba(141, 255, 176, 0.71), rgba(148, 210, 255, 0.42));
	background: -o-linear-gradient(rgba(141, 255, 176, 0.71), rgba(148, 210, 255, 0.42));
	background: -ms-linear-gradient(rgba(141, 255, 176, 0.71), rgba(148, 210, 255, 0.42));
	height: 80px;
	width: 400px;
	margin: 15px auto;
	font-size: 2.5em;
	color: #fff;
	line-height: 70px;
	border-radius: 10px;
	
}


.inputContainer{
	
	width: 200px;
	margin: 0 auto;

}


.input{
	
	height: 30px;
	font-size: 1.3em;
}

#slider{
	
	margin: 10px auto;
}


#circle{
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background-color: black;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

#thicknessInput{
	position: relative;
}


#container{
	
	width: 600px;
	height: 500px;
	border: 2px solid rgba(0, 95, 0, 0.88);
	background-color: rgba(255, 255, 255, 0);
	margin: 20px auto;
}

#paint{
	
	background-color: rgba(255, 255, 255, 0.24);
	cursor: crosshair;
	
}

.inputContainer2{
	width: 600px;
	margin: 0 auto;
}


.input2{
	width: 200px;
	color: #5BB4E7;
	font-size: 1.3em;
	float: left;
}


.button{
	background: #fff;
	height: 50px;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	
	
}

.button:hover{
	
	color: #fff;
	background: linear-gradient(#e3e3e3, #5BB4E7);
	background: -webkit-linear-gradient(#e3e3e3, #5BB4E7);
	background: -moz-linear-gradient(#e3e3e3, #5BB4E7);
	background: -o-linear-gradient(#e3e3e3, #5BB4E7);
	background: -ms-linear-gradient(#e3e3e3, #5BB4E7);
}



.button:active{
	
	top: 4px;
}

.eraseMode{
	background-color: red;
	color: white;
}









